################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hero Creator/.vs/Hero Creator/v17/Browse.VC.opendb
/Hero Creator/.vs/Hero Creator/FileContentIndex/6becf5a1-1097-4c60-b17b-ce4b9c60a159.vsidx
